@import "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');


body {
    margin: 0px;
}

header {
    background-color: black;
    color: white;
    padding: 3%;
}

header>h1 {
    margin: 0px;
    font-family: 'Passion One', cursive;
    font-weight: normal;
    font-size: 800%;
}

header>p {
    font-family: sans-serif;
}