@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to bottom, #BFB78F,#F2A71B);
}

main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #63ea25c6;
    width: 400px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #F2A71B;
    text-align: center;
    text-shadow: 1px 1px 2px #7c560fb4 ;
}

h2{
    color: #025E73;
}

p{
    text-align: justify;
}